main {
    margin-block: var(--marginDiv);
}

.contactUs {
    text-align: center;
    border: 4px#865d36 solid;
    min-inline-size: fit-content;
    margin-block: var(--marginDiv);
    margin: var(--marginDiv);
    background-color: var(--backgroundColorDiv);
}

div .accentBorder {
    justify-self: center;
}

fieldset {
    border: 3px#865d36 solid;
    border-radius: 4px;
    background-color: white;
    padding: 10px;
    margin: 7px;

}

fieldset div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contactUs a {
    font-size: 17px;
}

.contactForm {
    max-inline-size: 1000px;
    margin: 0 auto;
    padding: 20px;
}


.formGroup {
    margin-block-end: 15px;
}


label {
    font-size: 1.5em;
    font-weight: bold;
    display: block;
    margin-block-end: 5px;
}


input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    inline-size: 100%;
    padding: 10px;
    font-size: 1em;
    border: 3px#865d36 solid;
    border-radius: 4px;
    background-color: #fff;
}


button[type="submit"] {
    background-color: #865d36;
    color: white;
    padding: 12px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 9px #B68A42;
    border-radius: 5px;
    background-color: #2F2B26;
}

button[type="submit"]:hover {
    font-style: italic;
    background-color: #2F2B26;
}

button:active {
    background-color: #2F2B26;
    box-shadow: 0 5px #B68A42;
    transform: translateY(6px);
}

input[type="checkbox"],
input[type="radio"] {
    padding: 10px;
}

form div .accentBorder {
    padding: 1.5em 1em;
    inline-size: 95%;
    border: #865d36 solid 3px;
    border-radius: 4px;
    background-color: white;
}

.row {
    text-align: center;
    background-color: var(--backgroundColorDiv);
    align-items: center;
    justify-content: center;
    inline-size: 100%;
}

@media all and (min-width:768px) {
    .row {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

}

@media (prefers-color-scheme: dark) {
    fieldset {
        background-color: black;
    }

    form div .accentBorder {
        background-color: black;
    }

    select {
        background-color: black;
    }

    select option {
        background-color: black;
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    textarea {
        background-color: var(--backgroundColorDiv);
    }

    button[type="submit"] {
        box-shadow: 0 9px #999;
        background-color: #a69080;
    }

    button:active {
        background-color: #a69080;
        box-shadow: 0 5px #666;
        transform: translateY(6px);
    }

    button[type="submit"]:hover {
        font-style: italic;
        background-color: #a69080;
    }

}