p {
    margin-block: 10px;
    margin-inline: 1em;
}

main div {
    margin-block: 10px;
    text-align: center;
    background-color: antiquewhite;
}

main div img {
    width: 92%;
    height: auto;
    border: solid rgba(134, 93, 54, 0.7) 8px;
    margin-block: 10px;
    margin: 0px auto;
    padding: 10px;
}

.welcome {
    border: 10px#865d36 double;
    min-width: fit-content;
    margin-block: 10px;
    text-align: center;
    background-color: antiquewhite;

    h2 {
        font-style: italic;
    }

    p {
        margin-inline: 50px;
    }
}



@media all and (max-width:1627px) {
    .accentBorder {
        display: flex;
        flex-direction: column;
    }
}

@media all and (min-width:768px) {
    main {
        display: grid;
        grid-template-rows: 1fr;
        align-items: stretch;
    }

    .img1 {
        float: inline-start;
        margin-inline-start: 10px;
        width: 35em;
        height: auto;
        margin: 0px auto;

    }

    .art1 h3 {
        margin-block-start: 3em;
    }

    .img2 {
        float: inline-end;
        margin-inline-end: 10px;
        width: 35em;
        height: auto;
        margin: 0px auto;
    }

    .art2 h3 {
        margin-block-start: 3.5em;
    }

}