:root {
    --backgroundColorDiv: antiquewhite;
    --marginDiv: 2em;
    --textColor: #332c26;
    --backgroundColorMain: #ac8968;
    --border: 10px#865d36 double;


}

header {
    border-block-end: 5px #865d36 solid;
}

* {
    box-sizing: border-box;
    color: var(--textColor);
}

body {
    background-color: var(--backgroundColorMain);
    font-family: 'Playfair Display', serif;

}

.navFlex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

header nav a {
    padding: 5px;
    text-decoration: none;

}

header img {
    inline-size: 100%;
    max-inline-size: 20em;
    block-size: auto;
    border-radius: 30%;
    margin-block-start: 2.5em;
}

#topBanner {
    text-align: center;
    max-inline-size: 960px;
    margin: 0 auto;
    padding: 10px 10px 10px 0;
}

.accentBorder {
    border: var(--border);
    min-inline-size: fit-content;
}

header nav ul {
    list-style-type: none;
}

header nav li {
    font-size: 1.2em;
    margin: 2px;
    padding: 2px;
    display: inline;
}

#topBanner h1 {
    font-size: 3em;
}

.border {
    text-align: center;
}

.footerNav {
    text-align: center;
    border-block-start: dashed 3px #865d36;
    background-color: var(--backgroundColorDiv);
}

.footerNav a {
    padding: 5px;
    text-decoration: none;

}

.footerNav ul {
    inline-size: 100%;
    text-align: center;
    list-style-type: none;
}

.footerNav li {
    margin-block: 5px;
    margin-inline-end: 2.5em;

}

.contact {
    margin-block-start: 16px;
}

.contact a {
    font-size: 16px;
}

.reference {
    font-size: 13px;
    margin-block-start: var(--marginDiv);
}

.contact a:hover,
.reference a:hover {
    font-style: italic;
}

@media all and (min-width:768px) {

    .border {
        display: grid;
        grid-template-columns: 192px 1fr 192px;
    }

    .accentBorder {
        margin: var(--marginDiv)
    }

    .special {
        border: var(--border);
        min-inline-size: fit-content;
        margin-block: var(--marginDiv);
        background-color: var(--backgroundColorMain);
        margin: var(--marginDiv);
        background-color: var(--backgroundColorDiv);
    }

    #topBanner {
        text-align: center;
    }

    #topBanner h1 {
        font-size: 5em;
    }

    header img {
        inline-size: 12em;
    }

    nav a {
        margin: 10px;
    }

    nav a:hover {
        font-style: italic;
        font-weight: bold;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --backgroundColorMain: #2F2B26;
        --backgroundColorDiv: #3D3D3D;
        --textColor: #F0E3D6;
    }

    a:hover {
        color: #B68A42;
    }

    footer {
        background-color: #3D3D3D;
    }
}